* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  font-family: 'Cairo', sans-serif;
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}
.app-video {
  position: relative;
  height: 600px;
  background-color: white;
  overflow: scroll;
  width: 100%;
  max-width: 350px;
  border-radius: 6px;
}
@media (max-width: 767px) {
.app-video {
  height: 665px;
  max-width: 100%;
  border-radius: 0;
}
}
.app-video::-webkit-scrollbar {
  display: none;
}
.app-video {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
  overflow: hidden;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  color: grey;
  font-size: 110px;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: .5;
  animation: display .1s ease-in;
}
.heart {
  color: #ea4943;
  font-size: 135px;
  opacity: .8;
  animation: liked .3s ease-in;
}
@keyframes liked {
  0% {
    transform: scale(.6);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes display{
  from {
    transform: scale(0);
  }to {
    transform: scale(1);
  }
}
video {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.video-sidebar {
  position: absolute;
  top: 48%;
  right: 25px;
}
.video-icon {
  text-align: center;
}
.video-icon i {
  cursor: pointer;
  font-size: 24px;
}
.video-icon p {
  margin-top: 5px;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  position: relative;
  bottom: 130px;
  margin-left: 20px;
}

.img-play {
  width: 55px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}
.img-marq img {
  width: 35px;
  position: absolute;
  top: 70px;
}
.footer-text {
  flex: 1;
}
.img-marq {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #eee;
  padding: 2px;
}
.footer-text h3 {
}
.img-marq marquee {
  margin-left: 40px;
  margin-top: 20px;
  width: 73%;
}
.comments {
  position: absolute;
  bottom: -60%;
  left: 0;
  width: 100%;
  height: 55%;
  color: black;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: .3s;
}
.comments ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
  overflow: auto;
}
.comments ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.comments ul li img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.comments ul li .info {
  flex: 1;
}
.comments ul li h4 {
  margin-bottom: 4px;
  font-size: 14px;
}
.comments ul li p {
  color: rgb(62, 59, 59);
}
.comments ul li span {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 18px;
}
.comments h3 {
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  background-color: white;
}
.comments h3 span {
  color: gray;
}
.comments .write-comment {
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #eee;
  z-index: 100;
}
.comments .write-comment input {
  flex: 1;
  margin-left: 10px;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 20px;
}
.comments .write-comment button {
  width: 41px;
  height: 41px;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 10px;
}